.my-bg-top-heading-green {
    background-color: green;
    color           : white;
}

.my-bg-left-nav-green {
    background-color: green;
}

.my-icon-color-green {
    color: green;
}



.my-bg-button-green {
    background-color: green !important;
    color           : white !important;
}

.my-icon-bg-color-green {
    background-color: rgb(190, 241, 190);
}

.my-form-heading-green {
    background: linear-gradient(90deg, rgb(0, 128, 0) 0%, rgba(215, 240, 215, 0.9) 76%) !important;
    color     : white;
}

.my-bg-top-heading-blue {
    background-color: #333;
    color           : white;
}

.my-bg-left-nav-blue {
    background-color: #0690ed;
}

.my-icon-color-blue {
    color: #0690ed;
}

.my-icon-bg-color-blue {
    background-color: aliceblue;
}

.my-form-heading-blue {
    background-color: #4c7ab5;
    color: white;
}

.my-bg-button-blue {
    background-color: #0690ed;
    color           : white;
}

.my-bg-top-heading-lightgreen {
    background-color: #00a7bd;
    color           : white;
}

.my-bg-left-nav-lightgreen {
    background-color: #00a7bd;
}

.my-icon-color-lightgreen {
    color: #00a7bd;
}

.my-form-heading-lightgreen {
    background: linear-gradient(90deg, #00a7bd 0%, rgb(0 167 189 / 40%) 76%) !important;
    color     : white;
}


.my-bg-button-grass {
    background-color: #576d21;
    color           : white;
}

.my-icon-bg-color-lightgreen {
    background-color: #00a7bd1a;
}


.my-bg-top-heading-grass {
    background-color: #576d21;
    color           : white;
}

.my-bg-left-nav-grass {
    background-color: #576d21;
}

.my-icon-color-grass {
    color: #576d21;
}

.my-form-heading-grass {
    background: linear-gradient(90deg, #576d21 0%, rgb(205 230 148) 76%) !important;
    color     : white;
}


.my-bg-button-grass {
    background-color: #576d21 !important;
    color           : white !important;
}


.my-icon-bg-color-grass {
    background-color: #00a7bd1a;
}





.mat-sort-header-content {}