.heading-Box {
    text-align: center;
    padding-top: 22%;
    color: #778c9a;
    font-size: 25px;
    font-family:"roboto";
}
.icon-box{
    background-color: #e9f6ff;
    padding: 15px;
    border-radius: 20px;
    
}
.mat-icon{
    font-size: 70px;
    color: #0690edad;
   
    border-radius: 20%;
    height: 75px;
    width: 71px;
}