<form #servicecontract="ngForm" class="shadow-lg p-3 mt-132 rounded needs-validation">
    <div class="row mt-4 " style="display: flex">
        <div class="col-sm-4">
            <mat-accordion class="example-headers-align">
                <mat-expansion-panel [expanded]="step === 0" hideToggle>
                    <mat-expansion-panel-header style="background-color: #4c7ab5; height: 43px">
                        <mat-panel-title style="color: white">
                            Owner Information
                        </mat-panel-title>
                        <mat-panel-description style="display: contents">
                            <mat-icon style="color: white">account_circle</mat-icon>
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div class="row" style="margin-top: 18px">
                        <div class="col-md-12 selectMenu" style="margin-top: 15px">
                            <button type="button" mat-menu-item [matMenuTriggerFor]="markets"
                                *ngFor="let r of Region; let i = index">
                                {{ r.Region }} <mat-icon>arrow_right</mat-icon>
                                <mat-menu #markets="matMenu">
                                    <button type="button" mat-menu-item [matMenuTriggerFor]="property"
                                        *ngFor="let m of Market" [hidden]="r.Region != m.Region">
                                        {{ m.Market }}
                                        <mat-menu #property="matMenu" style="height: 50%; overflow: scroll">
                                            <button type="button" mat-menu-item *ngFor="let p of Property"
                                                [hidden]="m.Market != p.Market" (click)="OwnerSelect(p)">
                                                {{ p.Property }}
                                            </button>
                                        </mat-menu>
                                    </button>
                                </mat-menu>
                            </button>
                        </div>
                        <div class="col-md-12" style="margin-top: 15px">
                            <table class="table" *ngIf="formData.selectedOwner != undefined">
                                <tbody>
                                    <tr>
                                        <td>Region</td>
                                        <td style="color: #4c7ab5">
                                            {{ formData.selectedOwner?.Region }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Market</td>
                                        <td style="color: #4c7ab5">
                                            {{ formData.selectedOwner?.Market }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Entity</td>
                                        <td style="color: #4c7ab5">
                                            {{ formData.selectedOwner?.Owner }}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <mat-form-field style="width: 100%" class="example-full-width"
                                *ngIf="formData.selectedOwner != undefined">
                                <mat-label>Property Address</mat-label>
                                <textarea matInput placeholder="Ex. 100 Main St" name="PropertyAddress"
                                    [(ngModel)]="this.formData.selectedPropertyAddress" required="true"></textarea>
                            </mat-form-field>
                        </div>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
        <div class="col-sm-8">
            <div class="row d-flex">
                <div class="col-sm-12">
                    <!-- Change Order -->
                    <mat-accordion class="example-headers-align" *ngIf="this.formData.selectedOwner != undefined">
                        <mat-expansion-panel [expanded]="step === 0" hideToggle>
                            <mat-expansion-panel-header style="background-color: #4c7ab5; height: 43px">
                                <mat-panel-title style="color: white">
                                    Contractor Notice Information
                                </mat-panel-title>
                                <mat-panel-description style="display: contents">
                                    <mat-icon style="color: white">task</mat-icon>
                                </mat-panel-description>
                            </mat-expansion-panel-header>
                            <div class="row" style="margin-top: 18px">
                                <div class="col-md-12">
                                    <mat-form-field class="example-full-width" style="width: 100%">
                                        <mat-label>Contractor:</mat-label>
                                        <input matInput class="MatInputBoxShadow" type="text" required name="Contractor"
                                            [(ngModel)]="formData.selectedContractor" />
                                        <mat-error>This field is required </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-12">
                                    <mat-form-field class="example-full-width" style="width: 100%">
                                        <mat-label>Contractor Street Address:</mat-label>
                                        <input matInput class="MatInputBoxShadow" type="text" required
                                            name="ContractorAddress" [(ngModel)]="formData.selectedContractorAddress" />
                                        <mat-error>This field is required </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width" style="width: 100%">
                                        <mat-label>Contractor City:</mat-label>
                                        <input matInput class="MatInputBoxShadow" type="text" required
                                            name="ContractorCity" [(ngModel)]="formData.selectedContractorCity" />
                                        <mat-error>This field is required </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width" style="width: 100%" id="states">
                                        <mat-label>Contractor State:</mat-label>
                                        <mat-select class="MatInputBoxShadow" type="text" name="ContractorState"
                                            required [(ngModel)]="formData.selectedContractorState"
                                            (ngModelChange)="onChange(formData.selectedContractorState)">
                                            <mat-option>-- Clear --</mat-option>
                                            <mat-option *ngFor="let option of formData.States" [value]="option">
                                                {{ option.Title }}
                                            </mat-option>
                                        </mat-select>
                                        <mat-error>This field is required</mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width" style="width: 100%">
                                        <mat-label>Contractor Zip Code:</mat-label>
                                        <input matInput class="MatInputBoxShadow" type="text" required
                                            name="ContractorZip" [(ngModel)]="formData.selectedContractorZip" />
                                        <mat-error>This field is required </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                        </mat-expansion-panel>
                    </mat-accordion>
                </div>
                <div class="col-sm-12">
                    <mat-accordion class="example-headers-align" *ngIf="formData.selectedOwner != undefined
        ">
                        <mat-expansion-panel [expanded]="step === 0" style="margin-top: 10px" hideToggle>
                            <mat-expansion-panel-header style="background-color: #4c7ab5; height: 43px">
                                <mat-panel-title style="color: white">
                                    Change Order information
                                </mat-panel-title>
                                <mat-panel-description style="display: contents">
                                    <mat-icon style="color: white">info</mat-icon>
                                </mat-panel-description>
                            </mat-expansion-panel-header>
                            <div class="row" style="margin-top: 18px">
                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width" style="width: 100%">
                                        <mat-label>Change Order Number:</mat-label>
                                        <input matInput class="MatInputBoxShadow" type="text" required
                                            name="ChangeOrderNumber" [(ngModel)]="formData.selectedCOnum" />
                                        <mat-error>This field is required </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width" style="width: 100%">
                                        <mat-label>Project Number:</mat-label>
                                        <input matInput class="MatInputBoxShadow" type="text" required
                                            name="ProjectNumber" [(ngModel)]="formData.selectedProjectNum" />
                                        <mat-error>This field is required </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width" style="width: 100%">
                                        <mat-label>Change Order Date:</mat-label>
                                        <input matInput class="MatInputBoxShadow" type="date" required
                                            name="ChangeOrderDate" [(ngModel)]="formData.selectedDate" />
                                        <mat-error>This field is required </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width" style="width: 100%">
                                        <mat-label>Contract Date:</mat-label>
                                        <input matInput class="MatInputBoxShadow" type="date" required
                                            name="ContractDate" [(ngModel)]="formData.selectedContractDate" />
                                        <mat-error>This field is required </mat-error>
                                    </mat-form-field>
                                </div>
                                <hr class="solid" />
                                <div class="col-md-12">
                                    <mat-checkbox class="example-margin" name="CAGMP" [(ngModel)]="formData.selectedChangeCAGMP"
                                        style="padding-bottom: 10px" (change)="resetCOgmp()">Change Contract Amount/GMP?
                                    </mat-checkbox>
                                </div>
                                <div *ngIf="this.formData.selectedChangeCAGMP == true">
                                    <div class="col-md-12">
                                        <br />
                                        <p>Use "Contract Amount" or "GMP"?</p>
                                        <mat-radio-group aria-label="Use 'Contract Amount or 'GMP'"
                                            [(ngModel)]="formData.selectedCAGMP" [ngModelOptions]="{ standalone: true }">
                                            <mat-radio-button value="Contract Amount" style="padding-right: 10px">
                                                Contract Amount
                                            </mat-radio-button>
                                            <mat-radio-button value="GMP">GMP</mat-radio-button>
                                        </mat-radio-group>
                                        <br />
                                    </div>
                                    <div class="col-md-12">
                                        <mat-form-field class="example-full-width"
                                            style="width: 100%; padding-top: 10px">
                                            <mat-label>Orignal Contract Amount/GMP</mat-label>
                                            <input matInput class="MatInputBoxShadow" type="text" required
                                                name="OriginalGMP" [(ngModel)]="formData.selectedOriginalGMP"
                                                (change)="calc()" />
                                            <mat-error>This field is required </mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-12">
                                        <br />
                                        <p>Net Change Increase or Decrease?</p>
                                        <mat-radio-group aria-label="Net Change Details" [(ngModel)]="formData.selectedNetIncDec"
                                            [ngModelOptions]="{ standalone: true }" (change)="calc()">
                                            <mat-radio-button value="Increase" style="padding-right: 10px">Increase
                                            </mat-radio-button>
                                            <mat-radio-button value="Decrease">Decrease</mat-radio-button>
                                        </mat-radio-group>
                                        <br />
                                    </div>
                                    <div class="col-md-12">
                                        <mat-form-field class="example-full-width"
                                            style="width: 100%; padding-top: 10px">
                                            <mat-label>Net Change Amount:</mat-label>
                                            <input matInput class="MatInputBoxShadow" type="text" required
                                                name="NetChangeAmount" [(ngModel)]="formData.selectedNetChange"
                                                (change)="calc()" />
                                            <mat-error>This field is required </mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-12 prevGMP">
                                        <p style="color: #4c7ab5; font-weight: bold">
                                            Previous {{this.formData.selectedCAGMP }}: {{this.formData.selectedPreviousGMP }}
                                        </p>
                                    </div>
                                    <div class="col-md-12">
                                        <br />
                                        <p>Change Order Amount Increase or Decrease?</p>
                                        <mat-radio-group aria-label="Change Order Details"
                                            [(ngModel)]="formData.selectedCOincdec" [ngModelOptions]="{ standalone: true }"
                                            (change)="calc()">
                                            <mat-radio-button value="Increase" style="padding-right: 10px">Increase
                                            </mat-radio-button>
                                            <mat-radio-button value="Decrease">Decrease</mat-radio-button>
                                        </mat-radio-group>
                                        <br />
                                    </div>
                                    <div class="col-md-12">
                                        <mat-form-field class="example-full-width"
                                            style="width: 100%; padding-top: 10px">
                                            <mat-label>Change Order Amount:</mat-label>
                                            <input matInput class="MatInputBoxShadow" type="text" required
                                                name="ChangeOrderAmount" [(ngModel)]="formData.selectedCOamount"
                                                (change)="calc()" />
                                            <mat-error>This field is required </mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-12 prevGMP">
                                        <p style="color: #4c7ab5; font-weight: bold">
                                            New {{ this.formData.selectedCAGMP }}: {{this.formData.selectedNewGMP }}
                                        </p>
                                    </div>
                                </div>
                                <hr class="solid" />
                                <div class="col-md-12">
                                    <mat-checkbox class="example-margin" name="changeTime"
                                        [(ngModel)]="formData.selectedChangeTime" style="padding-bottom: 10px"
                                        (change)="resetCOtime()">Change Contract Time?
                                    </mat-checkbox>
                                </div>
                                <div *ngIf="this.formData.selectedChangeTime == true">
                                    <div class="col-md-12">
                                        <br />
                                        <p>Contract Time Increase or Decrease?</p>
                                        <mat-radio-group aria-label="Contract Time Change Details"
                                            [(ngModel)]="formData.selectedTimeIncDec" [ngModelOptions]="{ standalone: true }">
                                            <mat-radio-button value="Increase" style="padding-right: 10px">Increase
                                            </mat-radio-button>
                                            <mat-radio-button value="Decrease">Decrease</mat-radio-button>
                                        </mat-radio-group>
                                        <br />
                                    </div>
                                    <div class="col-md-12">
                                        <mat-form-field class="example-full-width" style="width: 100%">
                                            <mat-label>Contract Time Change Amount (Days):</mat-label>
                                            <input matInput class="MatInputBoxShadow" type="text" required
                                                name="TimeChange" [(ngModel)]="formData.selectedTimeChange" />
                                            <mat-error>This field is required </mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-12">
                                        <mat-checkbox class="example-margin" name="SOWrevised"
                                            [(ngModel)]="formData.selectedSOWrevised" style="width: 100%; padding-top: 10px">
                                            Scope Of Work Revised?
                                        </mat-checkbox>
                                    </div>
                                    <div class="col-md-12">
                                        <mat-checkbox class="example-margin" name="SubstantialComp"
                                            [(ngModel)]="formData.selectedSubComp" style="width: 100%; padding-top: 10px"
                                            (change)="resetSubCompt()">Substantial Completion?
                                        </mat-checkbox>
                                    </div>
                                    <div class="col-md-4" *ngIf="this.formData.selectedSubComp == true">
                                        <mat-form-field class="example-full-width"
                                            style="width: 100%; padding-top: 10px">
                                            <mat-label>Substantial Completion Date:</mat-label>
                                            <input matInput class="MatInputBoxShadow" type="date"
                                                name="SubstantialCompletionDate"
                                                [(ngModel)]="formData.selectedSubstantialCompletionDate" required />
                                        </mat-form-field>
                                    </div>
                                </div>
                                <hr class="solid" />
                            </div>
                        </mat-expansion-panel>
                    </mat-accordion>
                </div>

            </div>
        </div>
    </div>
    <div class="row mt-2" *ngIf="formData.selectedOwner != undefined || formData.addressRepeating.length > 0">
        <div class="col-sm-12" style="text-align: right;">
            <button class="btnEnd" mat-raised-button (click)="resetStates(servicecontract)" type="button" color="white">
                Reset
            </button>
            <button class="btnEnd" mat-raised-button (click)="onSave()"
                [disabled]="servicecontract.invalid " type="button" color="primary">
                Generate Contract
            </button>
        </div>

    </div>


</form>