<!-- <mat-drawer-container class="example-container" hasBackdrop="true"> -->
    <!-- <mat-drawer #drawer mode="over" class="sidenav" [class]="theme.myLeftNavColor">
        <app-side-nav [drawer]="drawer"></app-side-nav>
    </mat-drawer> -->
    <!-- <mat-drawer-content> -->

        <!-- <app-topnav appName="ARC" (menuClick)="drawer.toggle()" (appClick)="onAppClick()" (logoutClick)="logout()"
            class="fixed-top">
        </app-topnav> -->

      <div class="container-fluid"> 
            <router-outlet></router-outlet>
       </div> 
    <!-- </mat-drawer-content> -->
<!-- </mat-drawer-container> -->