<div class="top-ribbon row">
    <div class="btn-group">
            <app-ribbon-back (myClick)="onBack()"></app-ribbon-back>
            <app-ribbon-delete (myClick)="onDelete()"></app-ribbon-delete>
            <app-ribbon-save (myClick)="SaveEmployee()" [valid]="employee.invalid"></app-ribbon-save>
    </div>
</div>

<form #employee="ngForm" class="shadow-lg p-3 mt-132 rounded needs-validation">
    <app-my-heading heading="Service contract generator"></app-my-heading>
    <div class="row g-2">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                    <app-my-input label="Title" class="col-md-6" required="true" name="Title" [(ngModel)]="obj.Title">
                    </app-my-input>
                    <app-my-input label="Salary" class="col-md-6" name="Salary" [(ngModel)]="obj.Salary">
                    </app-my-input>                      
                    <app-button-save></app-button-save>
            </div>
    </div>
</form>